body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('img010-edit.png') fixed;    
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container {
    color: black;
    z-index: 1;
}

h1 {
    font-size: 8em;
    margin-bottom: 0.2em;
    font-family: 'Mate', serif;
    font-weight:400;
    font-style:italic;
    letter-spacing: -3px;
    line-height:0.8em;
    top:-10px;
    left:50px;
    position: absolute;
    text-align: left;
}

h2 {
    font-size: 8em;
    margin-bottom: 0.2em;
    font-family: 'Mate', serif;
    font-weight:400;
    font-style:italic;
    letter-spacing: -3px;
    line-height:0.8em;
    bottom:40px;
    right:50px;
    position: absolute;
    text-align: right;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
